.bg-backgrond {
  padding: 50px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.img-illustration {
  position: absolute;
  z-index: 0;
  top: -120px;
  height: 400px;
}

.header-main {
  margin-bottom: 2em;
  margin-left: -200px;
}

.container  {
  width: 80%;
  margin: 0 auto;
}
